.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,
.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    color: rgb(99, 99, 99) !important;
}

.card-image-close-container {
    display: flex;
}

.close-icon {
    cursor: pointer;
    margin-right: -10px;
    margin-top: -10px;
}

.close-button-container {
    text-align: right;
}
